<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>static pg 1</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<body>
<nav>
<div class="site-title">
    <a href="/"><h1>Main site</h1></a>
    <p>static page</p>
</div>
<ul>
    <li><a href="/">blogs</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="/blogs/create">new blog</a></li>
</ul>
</nav>
<div class="Cannot find content"><h2>error</h2>
</div>
    <header>
        <h1>404</h1>
    </header>

    <main>
        <section>
        </section>
    </main>

    <footer>
        <!-- Add footer content or links here -->
    </footer>

</body>
</html>

