<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> index </title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
</head>
<body>
<nav>
<div class="site-title">
    <a><h1>index</h1></a>
    <p><%= result %></p>
</div>
<ul>
    <li><a href="/roll">roll die</a></li>
    <li><a href="/randomsentence">random sentence generator</a></li>
    <li><a href="/">index</a></li>
</ul>
</nav>
<div class="blogs content"><h2>all blogs</h2>
</div>
    <header>
        <h1>Static 1</h1>
    </header>

    <main>
        <section>
            <!-- Add your main content here -->
        </section>
    </main>

    <footer>
        <!-- Add footer content or links here -->
    </footer>

</body>
</html>

